AIRTABLE_BASE_ID=appYWVOaoPhQB0nmA
FILES_BRANCH=main
AIRTABLE_API_KEY=
GIT_SERVER=ssh://git@fleet-flows-git.lizzardsolutions.com
FLOW_JS_BRANCH=main
AIRTABLE_TABLE=Unipi
MAX_RETRIES=5
SLEEP_BETWEEN=10
SCHEMA_FILE_PATH=
NODE_VERSION=12.22.12-deb-1nodesource1
NODE_SETUP_URL=https://deb.nodesource.com/setup_12.x
REPO_TO_CHECK_SERVER_ACCESS=fleet-files
USER_NAME=user
HOME_DIR=/home/${USER_NAME}
# GIT_SERVER=git@git.reak.in:shaanil.khatri