AIRTABLE_BASE_ID=appYWVOaoPhQB0nmA
FILES_BRANCH=main
AIRTABLE_API_KEY=
GIT_SERVER=ssh://git@fleet-flows-git.lizzardsolutions.com
FLOW_JS_BRANCH=main
AIRTABLE_TABLE=Unipi
MAX_RETRIES=5
SLEEP_BETWEEN=5
SCHEMA_FILE_PATH=
NPM_VERSION=8.5.1~ds-1
NODE_VERSION=12.22.9~dfsg-1ubuntu3.3


# GIT_SERVER=git@git.reak.in:shaanil.khatri